.letter {
  background-color: #939b9f;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 76px;

  input {
    caret-color: transparent;
    color: white;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
  }
}

.correct {
  background-color: #66a060;
}

.incorrect {
  background-color: #ceb02c;
}

.notFound {
  background-color: #939b9f;
}

.disabled {
  background-color: #939b9f;
  opacity: 30%;
}

.focused {
  border-bottom: 5px solid rgba(62, 73, 78, 0.9) !important;
}
